@using Microsoft.AspNetCore.Identity
@using RecipeModel.Models

@model RecipeModel.Models.Image

@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br />
    <div class="row" style="align-items:center">
        <div class="col">
            <h3>Share a photo of your recipe!</h3>
        </div>
        <div class="col">
            <img src="~/Images/photoCamera.png" style="float:right">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="RecipeId" class="control-label"></label>
                    <input asp-for="RecipeId" class="form-control" value="@Context.Request.Query["recipeId"]" readonly />
                </div>
                <div class="form-group" hidden>
                    <label asp-for="AppUserId" class="control-label"></label>
                    <input asp-for="AppUserId" class="form-control" value="@UserManager.GetUserId(User)" />
                    <span asp-validation-for="AppUserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Add image" class="btn btn-outline-success" style="float:right" />
                </div>
            </form>
        </div>
    </div>

</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
