
@{
    ViewData["Title"] = "UserRecipeNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div style="text-align: center;">
    <h1>Uh oh....</h1><br/>
    <h6>It seems like you don't have any recipes shared on this site.</h6><br/>
    <h6>Add your recipes <a asp-controller="Recipes" asp-action="Create">here</a>!</h6>
</div>

